.custom-container {
    width: 600px;
    height: 600px;
    margin-top: 5px;
}

.height-200 {
    height: 200px;
}

.hw-300 {
    height: 295px;
    width: 295px;
}

body .custom-container:nth-child(2) .row:nth-child(1),
body .custom-container:nth-child(2) .row:nth-child(2),
body .custom-container:nth-child(2) .row:nth-child(3){
    height: 33%;
}

.ltu {

    width: 600px;
    height: 400px;
    margin-top: 5px;
}

.ltu:nth-child(1) .row:nth-child(1)w{
    background-color: red;
}

.trystrys {
    height: 33%;
}